/* DAMAGE APPLICATION */
.damage-application.app {
  max-width: fit-content !important;
  min-width: 350px;
  min-height: 300px;
  opacity: 1;
  transition: opacity 500ms;
}

.damage-application.app.fade {
  opacity: 0.1;
  pointer-events: none;
}

/* Message section */
.damage-application.app .message-section {
  margin-bottom: 1em;
}

.damage-application.app .damage-types {
  display: flex;
  border-top: 1px groove;
  margin: 0.5em 0 0 0;
  flex-direction: column;
}

.damage-application.app .damage-total {
  display: flex;
  justify-content: center;
  border-bottom: 1px groove;
  margin: 0 0 0.5em 0;
  font-size: 1.4em;
}

.damage-application.app .damage-types .type {
  padding: 0.25em;
  display: flex;
  align-items: center;
}

.damage-application.app .damage-types .type label {
  flex: 2;
}

.damage-application.app .damage-types .type input {
  flex: 1;
}

.damage-application.app .buttons {
  display: flex;
  gap: 0.5em;
}

/* Actor section */
.damage-application.app [data-action="toggle-trait"].enabled i:before {
  content: "\f205";
}

.damage-application.app [data-action="toggle-trait"]:not(.enabled) i:before {
  content: "\f204";
}

.damage-application.app [data-action="toggle-trait"]:not(.enabled) .trait-label {
  text-decoration: line-through;
}

.damage-application.app .actor-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2em;
  padding: 0 1em 1.5em;
}

.damage-application.app .actor {
  overflow: hidden;
  position: relative;
}

.damage-application.app .actor .label {
  font-family: 'Modesto Condensed';
  font-size: 1.5em;
  border-bottom: 1px groove red;
  margin: 0.5em 0 0.25em 0;
}

.damage-application.app .actor .header {
  text-align: center;
  min-width: 100px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.damage-application.app .actor .header .name {
  font-family: 'Modesto Condensed';
  font-size: 2em;
  white-space: nowrap;
}

.damage-application.app .actor .header img {
  border: none;
  padding: 1em;
  min-width: 100px;
  min-height: 100px;
}

.damage-application.app .actor .header .hasPlayer {
  font-style: italic;
}

.damage-application.app [data-action="remove-actor"] {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: none;
}

.damage-application.app .actor:hover [data-action="remove-actor"] {
  display: block;
}

.damage-application.app :is(.trait-section, .functions) {
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
}

.damage-application.app .trait-section [data-action="toggle-trait"] {
  display: flex;
  align-items: center;
  gap: 5px;
}

.damage-application.app .util {
  display: flex;
  align-items: center;
}

.damage-application.app [data-action="toggle-throw"] {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  border: 1px groove;
  border-radius: 3px;
  background-color: indianred;
  align-items: center;
  min-height: var(--form-field-height);
  padding: 0.25em;
}

.damage-application.app [data-action="toggle-throw"].success {
  background-color: darkseagreen;
}

/* Chatlog buttons */
.damage-application.buttons .damage-roll-buttons {
  display: flex;
  margin: 0.5em 0 0.25em 0;
  gap: 0.5em;
}
